version: '3'
services: 
    wordpress:
        image: wordpress:{{ wordpress_image_id }}
        ports:
            # local:8000, container:80
            - '8000:80'
        restart: always
        # okay so we want the WP install in the container to sync locally here
        # Mapping './' (local current folder) to '/var/www/html' (container's web root folder as we're using apache)
        volumes: ['./:/var/www/html']
        environment: 
            # the host is going to be the db service by mysql above, port 3306 is the default for mysql
            # we've already setup the DB user above
            WORDPRESS_DB_HOST: {{ mysql_vars.db_ip }}:3306
            WORDPRESS_DB_USER: {{ mysql_vars.db_user }}
            WORDPRESS_DB_PASSWORD: {{ mysql_vars.db_password }} 

        networks:
            - wpsite
            # map the volume of db_data (in service db above) and the network of 'wpsite'
networks: 
    wpsite:
volumes:
    db_data:
