version: '3'
services: 
    #######  Database service  #######
    db:
        image: mysql:5.7
        volumes:
            # This gives us persistence
            - db_data:/var/lib/mysql
        # if the server reboots the container restarts
        restart: always
        # define your mysql environment variables
        environment:
            MYSQL_ROOT_PASSWORD: {{ mysql_vars.db_root_password }}
            MYSQL_DATABASE: {{  mysql_vars.db_database }}
            MYSQL_USER: {{ mysql_vars.db_user }} 
            MYSQL_PASSWORD: {{ mysql_vars.db_password }}
        ports:
            - '3306:3306'
        networks:
            - wpsite
networks: 
    wpsite:
volumes:
    db_data:
