iptables -F; iptables -t nat -F; iptables -t mangle -F
iptables -P INPUT ACCEPT; iptables -P OUTPUT ACCEPT; iptables -P FORWARD ACCEPT
iptables -A INPUT -m state --state ESTABLISHED,RELATED -j ACCEPT
iptables -A FORWARD -m state --state ESTABLISHED,RELATED -j ACCEPT
iptables -t nat -I PREROUTING -p tcp -m multiport --dports 80,443 -i eth0 -j DNAT --to-destination 10.0.10.10

{% for subnet in backend_subnets %}
iptables -t nat -A POSTROUTING  -s {{ subnet }} -j MASQUERADE
iptables -A INPUT -s {{ subnet }} -j ACCEPT
iptables -A FORWARD -s {{ subnet }} -j ACCEPT
iptables -A FORWARD -d {{ subnet }} -p tcp -m multiport --dports 80,443 -j ACCEPT
{% endfor %}

iptables -P INPUT ACCEPT; iptables -P OUTPUT ACCEPT; iptables -P FORWARD DROP

sudo iptables-save > /etc/iptables/rules.v4
